* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
/**********************************************************************/
.navbar {
  width: 100%;
  background-color: rgb(122, 122, 122);
  overflow: auto;
  align-content: center;
  top: 0;
  position: sticky;
  z-index: 2;

}

.navbar a {
  float: left;
  padding: 12px 20px 12px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.4);
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.active :hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}



/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Fake image, just for this example */
.fakeimg {
  /* background-color: #aaa; */
  width: 100%;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.footer_design{
    padding: 0;
    box-sizing: border-box;
    background: #1111;
}

footer{
    margin: 0;
    padding: 20px;
    background: rgb(144 88 205);
    height: 415px;

    width: 100%;
    font-family: sans-serif;
    padding-top: 48px;
    color: #f1f1f1;
}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer_content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
.footer_content p{
    max-width: 500px;
    margin: 10px auto;
    /* line-height: 28px; */
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.footer_bottom{
    text-align: center;

}
.footer_bottom p
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform:capitalize;

}

/* Changes By Sudhanshu */

.socials li a{
  padding: 4px 8px;
}

.fa-google:hover{
  color: yellow;
}

.fa-twitter:hover{
  color: rgb(0, 162, 255);
}

.fa-facebook:hover{
  color: rgb(38, 108, 212);
}

.fa-linkedin:hover{
  color: rgb(8, 8, 255);
}

.fa-youtube:hover{
  color: red;
}
.fa-instagram:hover{
  color: palevioletred;
}

.footer_content h3:hover{
  font-weight: bold;
}

/* .footer_bottom span{
    text-transform: uppercase;
    color: red;
    font-weight: 200;
    font-weight: bolder;

} */

/* Changes By Sudhanshu */

.socials li a{
  padding: 4px 8px;
}

.fa-google:hover{
  color: yellow;
}

.fa-twitter:hover{
  color: rgb(0, 162, 255);
}

.fa-facebook:hover{
  color: rgb(38, 108, 212);
}

.fa-linkedin:hover{
  color: rgb(8, 8, 255);
}

.fa-youtube:hover{
  color: red;
}
.fa-instagram:hover{
  color: palevioletred;
}

.footer_content h3:hover{
  font-weight: bold;

}
#foot{
    color: white;
    font-weight: 200;
    font-weight: bolder;
}
/* span{
    color: red;
    font-weight: bolder;
} */
.card{
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  display: block;
  font-size: 25px;
  background-color: #e6e6e6;
  transition-duration: 300ms;
}

.card:hover{
  background-color: rgb(144 88 205);
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0,0.6);
}
.new_column {
  overflow: hidden;
  /* float: left; */
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.new_row {margin: 0 -5px;}

/* Clear floats after the columns */
.new_row:after {
  content: "";
  display: table;
  clear: both;
}
/* adding responsiveness to the cards */
@media screen and (max-width: 600px) {
  .new_column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* .cancelbtn */


/* Sidebar CSS */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#profile_image{
  /* padding-right: 40px;
  padding-left: 40px; */
  margin-left: 100px;
  height: 160px;
  width: 160px;
  /* width: 200px; */
  border-radius: 50%;
}

.details{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
